{% extends 'base.twig' %}

{% block body %}

    <h2>Test Email</h2>

    <p>Today: {{ "now"|date('Y-m-d H:i:s') }}</p>

    <h4>Heading 4</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida metus est,
        eleifend pellentesque odio scelerisque vel. Cras a lobortis turpis, at consectetur mi.
        Vivamus ullamcorper finibus dignissim. Duis turpis nisl, sagittis id ultricies non,
        pulvinar et sem. Mauris eget augue congue, semper nibh ut, congue felis. Nullam
        venenatis blandit pellentesque. Proin luctus aliquam feugiat. Donec aliquam
        pharetra sagittis. Sed ullamcorper lectus turpis, a pellentesque mauris aliquet a.</p>

    <h4>Another Heading 4</h4>

    <p>Integer congue arcu lacinia tellus venenatis dapibus. Ut ultricies libero nec lacus
        euismod imperdiet. Mauris pharetra massa quis pulvinar commodo. Nunc id tristique
        magna, nec dictum neque. Pellentesque ultricies arcu eu felis efficitur gravida.
        Pellentesque luctus sapien at tellus gravida, ut ultrices metus cursus. Donec non
        augue non odio rhoncus aliquam ac vel urna. Pellentesque cursus mauris ut iaculis
        dignissim. In elementum nulla nulla. Nullam eleifend neque egestas tellus elementum
        egestas. Vestibulum at pulvinar purus. Proin eget iaculis ipsum.</p>

    <p>Thank you, <i>kupo!</i></p>

    <p><strong>Regards</strong></p>

{% endblock %}
