### custom ###
IS_LOCAL=0
SERVICE_KEY=
DEV_EMAIL=josh@viion.co.uk
### custom ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://xivdb:xivdb@127.0.0.1:3306/xivdb"
###< doctrine/doctrine-bundle ###
