<footer>
    <div>
        <strong>XIVDB © 2010-{{ "now"|date("Y") }}</strong>
        <em>|</em> Premium Virtue (Phoenix), v3.0.{{ gitVersion() }}-{{ gitHash() }}
        <em>|</em> Content owned by: SQUARE ENIX CO., LTD.
    </div>
</footer>
