{% extends 'base/frontend.twig'  %}
{% import 'ads/ads.twig' as Ads %}

{% block body %}
<div class="container container-page">

    <h1>XIVDB.com</h1>

    <br>

    <div class="alert alert-secondary">
        A lil bit about the site
    </div>

    <br>


    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Developers</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img src="https://img2.finalfantasyxiv.com/f/73cbde3df508fa147006c64859727aae_1f5fd239b885860b7c2bfc72ad1d97effc0_96x96.jpg?1456774085">
                Premium Virtue (Phoenix)
            </div>
            <div class="col-sm">
                &nbsp;
            </div>
            <div class="col-sm">
                &nbsp;
            </div>
        </div>
    </div>

    <br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Translators</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img src="https://img2.finalfantasyxiv.com/f/0fbb582cebaa118da5286b12bc0f2b20_5047bc596a4bab2dc7f7c120bb22dec5fc0_96x96.jpg?1456781235">

                GERMAN
                Saeris Illyan
                Server: Phoenix
            </div>
            <div class="col-sm">
                <img src="https://img2.finalfantasyxiv.com/f/32e191425c7cd70d550c51866cf4e54d_f0c52cc66e124fc2e641d7c21ab2ce79fc0_96x96.jpg?1495885529">

                FRENCH
                Rylan Jyler
                Server: Mateus
            </div>
            <div class="col-sm">
                <img src="https://img2.finalfantasyxiv.com/f/9215e95de8f7851164f11e656a72fa6e_40d57ba713628f3f1ef5ef204b6d76d2fc0_96x96.jpg?1449948722">

                FRENCH
                Lydia Kalil
                Server: Ragnarok
            </div>
        </div>
    </div>

</div>
{% endblock %}
