{% extends 'base/frontend.twig'  %}

{% block title %}{{ content.Name }} - Title - XIVDB{% endblock %}

{% block body %}
<div class="container container-page">

    {{ dump(content) }}

</div>
{% endblock %}
