{% extends "base/frontend.twig"  %}

{% block title %}Error{% endblock %}

{% block body %}

    <div class="banned">

        <img src="/img/ui/misc/titan.png">

        <br><br><br>
        <h1>Account Login Error</h1>
        <br>

        <div class="box box-padded">
            <p>Hello!</p>
            <p>Unfortunately we could not log you in, try again!?</p>
        </div>

    </div>

{% endblock %}
