### custom ###
SERVICE_KEY=
### custom ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://xivdb:xivdb@127.0.0.1:3306/xivdb"
# DATABASE_URL=sqlite:///%kernel.project_dir%/storage/data.db
###< doctrine/doctrine-bundle ###
